<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width; initial-scale=1.0">
    </head>
    <body>
        <h1>Welcome to your world</h1>
        <form id="form" action="/log-in" method="POST">
            <!--for the sake of simplicity, for now only usernames will be used for accounts-->
            <label>enter username<input type="text" name="username"></label>
            <button type="submit">go home</button>
        </form>
    </body>
</html>