<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width; initial-scale=1.0">
        <link rel="stylesheet" href="/to-do-css">
        <script src="/to-do-js"></script>
    </head>
    <body>
        <div id="container">
            <div id="sidebar"> <!--to do: show all categories-->
                <div id="currency-container">
                    <p id="silver"></p>
                    <p id="gold"></p>
                </div>
                <button id="toggle-new-category" onclick="toggleElement('new-category-container', 'toggle-new-category', 'Create New Category', 'Cancel')">Create New Category</button>
                <label id="new-category-container" style="display: none;">
                    Category name: <input id="new-category-name" type="text">
                    <button onclick="createCategory()">Create</button>
                </label>
                <div id="category-link-container"></div>
            </div>
            <div id="task-container">
                <h1>Tasks</h1>
                <div id="categories-container">
                    <div id="my-first-to-do-list" class="category">
                        <h2>My First To-Do List</h2> <!--to do: add ability to edit category name and delete category-->
                        <ul id="my-first-to-do-list-tasks"></ul>
                    </div>
                </div>
                <div id="task-creator" style="display: none;"><input type="text" id="todo-input"><button id="add-button" onclick="createTask()">Create</button></div><!--will be hidden until add task is clicked-->
                <button onclick="toggleElement('task-creator', 'toggle-add-task', 'Add New Task', 'Cancel')" id="toggle-add-task">Add New Task</button><br>
                <button onclick="saveData()">Save Data</button>
            </div>
            <div id="navbar1"><a class="navbar" href="/home">Home</a></div>
            <div id="navbar2"><a class="navbar" href="/to-do">To-Do</a></div>
            <div id="navbar3"><a class="navbar" href="/quests">Quests</a></div>
            <div id="navbar4"><a class="navbar" href="/island">Island</a></div>
            <div id="navbar5"><a class="navbar" href="/character">Character</a></div>
        </div>
    </body>
    <script>
        loadData();
    </script>
</html>